.pointer {
    cursor: pointer;
  }
  
  /* Optional Styling */
  
  .pointer:last-child {
    border-bottom: 1px solid #dee2e6;
  }
  
  .clickable-row:hover {
    background: #fafafa;
  }
  
  a {
    font-size: 1.2rem;
    color: #d60e96;
  }
  
  a:hover {
    text-decoration: none;
  }